:root {
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-white-color: #ffffff;
  --blurred-white: rgba(255, 255, 255, 0.6);
  --very-blured-white: rgba(255, 255, 255, 0.1);
  --background-color: #e5e5e5;
  --background-light-grey: #f5f4fa;
  --background-dark-grey: #2f303a;
  --background-button: #188ce8;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--accent-white-color);
  color: var(--text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  margin: 0;
  text-decoration: none;
}
.title {
  color: var(--title-text-color);
}
.button {
  font-family: inherit;
}
.hidden-title {
  visibility: hidden;
}
/* хедер */
.header {
  background-color: var(--accent-white-color);
  border-bottom: 1px solid #ececec;
}
.logo-color {
  color: var(--accent-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
  display: block;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
  outline: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav-box {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.contacts {
  display: flex;
}
.site-nav-item + .site-nav-item {
  margin-left: 50px;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link.curent,
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-text-color);
  outline: none;
}
.contacts-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
  outline: none;
}
.contact-box {
  display: block;
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.curent::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
/* Банер*/
.hero-section {
  background-color: var(--background-dark-grey);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}
.hero-title {
  margin-top: 106px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-white-color);
}
.button {
  border-radius: 4px;
  min-width: 200px;
  /* padding: 10px 32px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--accent-white-color);
  border-color: var(--accent-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--background-button);
  color: var(--accent-white-color);

  cursor: pointer;
  outline: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* особливості */
.features {
  display: flex;
}

.features-item + .features-item {
  margin-left: 30px;
}
.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
}
.features-box {
  display: flex;
  justify-content: center;
  height: 120px;
  width: 270px;
  background-color: var(--background-light-grey);
  border-radius: 4px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 25px 0;
}

/* .features-item::before {
  display: block;
  content: "";

  height: 120px;
  background-color: var(--background-light-grey);
  border-radius: 4px;

  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.features-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.features-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.features-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */

/* наші роботи */
.our_works-section {
  padding-top: 0;
}
.our-works-img {
  display: block;
}
.our-works {
  display: flex;
  justify-content: space-between;
}
.our-works-item {
  position: relative;
  display: block;
}

.our-works-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0 27px 0;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-white-color);
}
/* наша команда */
.team-section {
  background-color: var(--background-light-grey);
}
.team-list {
  display: flex;
}
.team-list-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--accent-white-color);
  text-align: center;
}
.team-list-item:nth-child(4n + 4) {
  margin-right: 0;
}
.team-item-box {
  padding: 30px 0;
}
.team-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;

  padding: 12px 12px 12px 12px;
  border-radius: 50%;

  color: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  margin-right: 10px;
}
.social-item:nth-child(4) {
  margin-right: 0;
}
.social-icon {
  display: block;
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
  color: var(--accent-white-color);
  outline: none;
}
/* Постоянные клиенты */
.clients-list {
  display: flex;
}

.client-link {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item {
  display: flex;
  min-width: 170px;
  height: 92px;

  margin-right: 30px;
}
.client-item:nth-child(6n + 6) {
  margin-right: 0;
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);

  outline: none;
}
/* футер  */
.footer {
  background-color: var(--background-dark-grey);
  color: var(--accent-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--accent-white-color);
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.footer-contacts-link {
  margin-top: 9px;

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--blurred-white);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--accent-white-color);

  margin-bottom: 20px;
}
.footer_social-list {
  justify-content: start;
}
.footer_social-link {
  background-color: var(--very-blured-white);
  color: var(--accent-white-color);
}
.footer_social-link:hover,
.footer_social-link:focus {
  background-color: var(--accent-text-color);
  outline: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.join_us-box {
  margin-left: 70px;
}
.mailing-box {
  margin-left: 93px;
}

.footer-input-mail {
  display: inline-block;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--accent-white-color);
  background-color: var(--background-dark-grey);
}

.mailing-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-icon {
  margin-left: 10px;
}

/* портфоліо */
.portfolio_btn-list {
  display: flex;
  justify-content: center;
}
.portfolio_btn-item + .portfolio_btn-item {
  margin-left: 8px;
}
.portfolio-button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  background-color: var(--background-light-grey);
  color: var(--title-text-color);
  box-shadow: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--accent-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}
.portfolio-img {
  display: block;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--accent-white-color);
  border: 1px solid #eeeeee;
}
.portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-description-box {
  padding: 20px 24px;
}
.portfolio-title {
  margin-bottom: 4;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;

  color: var(--text-color);
}
.portfolio-img-box {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;

  color: var(--accent-white-color);
}
.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(-100%);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;

  background: var(--accent-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-white-color);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  fill: currentColor;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-text-color);
  outline: none;
}
.form {
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
  cursor: pointer;
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-text-color);
}
.form-input::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.comment {
  resize: none;
  padding: 12px 16px 12px 16px;
}

.policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.policy-link {
  color: var(--accent-text-color);
}
.policy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
}
.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-input:checked + .policy-icon {
  border: none;
  background-color: var(--accent-text-color);
}
.btn-box {
  display: flex;
  justify-content: center;
}
